<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<form>

    <div>OK it will be handy to have a way to zap the database and start from scratch</div>

    <a href ="/deleteAllNodes" > Delete all nodes</a>
    <br />   <br />

    <div>First lets figure out how to process the individuals csv file and dump it into Neo4J </div>
    <a href ="/Process/Individuals" > Process Individuals.csv</a>
    <br />   <br />


</form>


</body>
</html>